.cart-page {
  background-color: var(--very-light-gray);
}

.main-h2 {
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
}

.main-cart {
  padding-bottom: 2rem;
}

/***********card 2 started***********/

.original-price {
  color: gray;
  position: relative;
  font-size: 16px;
  font-weight: normal;
}

.line-on-price {
  position: absolute;
  height: 1px;
  width: 40px;
  background-color: gray;
  left: 1px;
  top: 8.5px;
}

.discount-price {
  font-weight: bolder;
  font-size: 20px;
}

.discount-percent {
  font-weight: bolder;
  color: gray;
}

.quantity-number {
  border: 1px solid gray;
  padding: 1px 5px;
}

.quantity-minus,
.quantity-plus {
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 50%;
}

.quantity {
  margin-left: 10px;
}

.card-2-button-1-cart {
  width: 95%;
  margin: 5px 5px;
  margin-top: 11%;
  color: white;
  background-color: rgb(148, 148, 148);
  border: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-2-button-2-cart {
  width: 95%;
  margin: 5px 5px;
  color: rgb(88, 88, 88);
  background-color: white;
  border: 1px solid rgb(148, 148, 148);
  padding-top: 5px;
  padding-bottom: 5px;
}

/********card 2 end************/

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-cart {
  display: flex;
  margin-left: 18%;
  margin-right: 15%;
  width: 70%;
  gap: 4rem;
}

.calc-heading {
  margin-top: 14px;
  margin-bottom: 14px;
}

.cart-calculation {
  width: 20rem;
  height: 24.5rem;
  background-color: white;
  padding: 0 1rem;
  border: 1px solid var(--primary-color);
}

.payment-button {
  width: 95%;
  height: 2rem;
  padding: 5rem;
  margin: 1% 2.5%;
  color: white;
  background-color: var(--button-blue-color);
  border: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5%;
}

.price-right * {
  display: flex;
  justify-content: space-between;
}

.price-right * p {
  margin-top: 12px;
  margin-bottom: 12px;
}
