:root {
  --primary-color: #808080;
  --gray-light: #f0f0f0;
  --button-blue-color: #4e94f0;
  --red-marker-icon: #e64c4c;
  --very-light-gray: #e2e0e0bd;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

/*************main started****************/
.filters {
  display: flex;
}

/*************sidebar started****************/
.sort-filter {
  min-width: 17rem;
  background-color: white;
  padding: 1rem;
}

.clear-button {
  display: flex;
  justify-content: space-between;
}

.clear-button button {
  background-color: transparent;
  border-radius: 1px solid rgb(173, 172, 172);
  font-weight: bolder;
}

.slider-input[type="range"] {
  cursor: pointer;
  width: 100%;
}

.slider-input-setting label {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.sort-filter h3 {
  margin-bottom: 10px;
  margin-top: 15px;
}

.checkbox-input label {
  display: block;
  padding: 5px;
}

.radio-input label {
  display: block;
  padding: 5px;
}

/*************sidebar end****************/

/*************product listing started****************/
.product-listing-setting {
  display: flex;
  background-color: var(--very-light-gray);
  flex-grow: 1;
}
.listing-heading {
  margin-left: 20px;
}

.listing-column {
  padding: 4rem;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

/*************card started****************/
.card-2 {
  height: 14rem;
  width: 24.87rem;
  display: flex;
  border: 1px solid black;
  position: relative;
}

.card-2 img {
  height: 100%;
  width: 10.62rem;
  /* padding: 30px 10px; */
}

.card-icon-products {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 6px;
  right: 6px;
  background-color: rgba(233, 229, 229, 0.822);
  box-sizing: content-box;
  padding: 5px;
  border-radius: 50%;
}

/* .card-icon-products:hover {
  fill: red;
  color: red;
} */

.card-icon-products-red {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 6px;
  right: 6px;
  background-color: rgba(233, 229, 229, 0.822);
  box-sizing: content-box;
  padding: 5px;
  border-radius: 50%;
  fill: red;
  color: red;
}

.card-2-col-2 {
  display: flex;
  flex-direction: column;
  background-color: rgba(236, 234, 234, 0.603);
  flex-grow: 1;
}

.card-2 h3 {
  font-weight: bold;
  color: rgb(78, 78, 78);
  margin-left: 10px;
  margin-bottom: 2px;
  margin-top: 13px;
}

.card-2 .brand-style {
  color: gray;
  margin-left: 10px;
  margin-bottom: 3px;
}

.card-2 p {
  margin: 5px;
  margin-left: 10px;
}

.original-price {
  color: gray;
  position: relative;
  font-size: 16px;
  font-weight: normal;
  text-decoration: line-through;
}

.discount-price {
  font-weight: bolder;
  font-size: 20px;
}

.discount-percent {
  font-weight: bolder;
  color: gray;
}

.card-2-button-1 {
  width: 95%;
  margin: 5px 5px;
  margin-top: 10px;
  color: white;
  background-color: rgb(78, 148, 240);
  border: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-2-button-2 {
  width: 95%;
  margin: 5px 5px;
  color: white;
  background-color: rgb(148, 148, 148);
  border: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
}

.not-in-cart {
  background-color: rgb(148, 148, 148);
}

.not-in-wishlist {
  background-color: white;
  color: rgb(110, 110, 110);
  border: 1px solid rgb(110, 110, 110);
}
.rating {
  height: 20px;
  width: 60px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(243, 149, 149, 0.39);
}
.star-rating {
  height: 20px;
  width: 20px;
  fill: none;
  stroke-width: 1;
  fill: yellow;
}

/*************card end****************/
.toast-1 {
  height: 40px;
  width: 20%;
  background-color: rgba(66, 66, 66, 0.925);
  color: white;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  z-index: 2;
  bottom: 4rem;
  left: 50%;
}
