.wishlist {
    background-color: var(--very-light-gray);
    padding-bottom: 3rem;
}

.main-h2 {
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
}

.all-products {
    display: flex;
    max-width: 58rem;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin: auto;
    justify-content: center;
}

/************card started*************/
.card-1 {
    height: 18.75rem;
    width: 12.5rem;
    background-color: rgba(226, 224, 224, 0.74);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card-1 img {
    height: 60%;
    width: 100%;
}

.card-1 p {
    margin: 10px 0px;
}

.card-1 button {
    width: 100%;
    height: 10%;
    margin-top: 7%;
    background-color: rgb(78, 148, 240);
    border: transparent;
    border-radius: 2px;
    color: white;
}

.card-icon {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 6px;
    right: 6px;
    background-color: rgba(233, 229, 229, 0.822);
    box-sizing: content-box;
    padding: 5px;
    border-radius: 50%;
    color: red;
    fill: red;
}